@page "/user/{useridparam}"
@layout MainLayout
@inject UserPageModelBuilder _modelBuilder

@if (_user != null)
{
    <header>
        <div class="exitLink">
               <a><img src="\image\left-chevron.png" alt=""></a>
        </div>
        <div class="heading-wrapper">
        </div>
        <div class="userProfile">
             <div class="userImage">
                 <img id="userProfileImg" src="@_user.Avatar" alt="">
             </div>
             <div class="userId">
                 <h1>
                     <!--First Name-->
                 @_user.FirstName
                 
                     <!--Last Name-->
                 @_user.LastName
                 <br>
                 <a id="locate" href="/club/@_user.ClubId">Клуб @_user.ClubTitle.ToUpper()</a>
                 </h1>
             </div>
         </div>
    </header>
    <!-----------------------------------header----------------------------------------->
    <main>
        <div class="generalInfo">
            <!--XP SUM-->
        <div class="xp">
                <h1 id="XPLevel">@_user.XPSum ХР</h1>
                <p id="XPSlogan">Общее количество опыта</p>
            </div>
            <hr id="hr">
            <div class="task">
                <!--Completed Count-->
            <h1 id="allTasks">Заданий выполнено: @_user.CompletedAchievementsCount из @_user.AchievementsCount</h1>
                <!--Completed Ratio (%)-->
            <p id="tasksSlogan">Выполнено @_user.CompletedRatio%</p>
            </div>
        </div>
        <!---It's generalInfo -->
        <div class="completed" id="completed">
            <h1 id="completedTasks">Выполненые </h1>
        </div>
        <!------------task completed------------------------->
        @foreach (var achievement in _user.Achivements)
        {
            @if (achievement.Completed)
            {
                <div class="completedTask" id="completedTask">
                    <div class="taskImg">
                        <img id="logoTask" src="@achievement.LogoURL" alt="">
                    </div>
                    <div class="aboutTask">
                        <div class="mark">
                            <h1 id="nameTask">
                                @achievement.Title | @achievement.Xp XP
                            </h1>
                        </div>
                        <p class="infoTask" id="infoTask">
                            @achievement.Description
                        </p>
                    </div>
                    <div class="taskXP">
                        <p>
                            @((int)achievement.UsersCompleteRatio)%
                        </p>
                    </div>
                </div>
            }
        }
        <!------------task completed------------------------->

        <div class="notCompleted" id="notCompleted">
            <h1 id="notCompletedTasks">Не выполненые </h1>
        </div>
        <!---------------------Not completed------------------>
        @foreach (var achievement in _user.Achivements)
        {
            if (!achievement.Completed)
            {
                <div class="notCompletedTask" id="notCompletedTask">
                    <div class="taskImg">
                        <img id="logoTask" src="@achievement.LogoURL" alt="">
                    </div>
                    <div class="aboutTask">
                        <div class="mark">
                            <h1 id="nameTask">
                                @achievement.Title | @achievement.Xp XP
                            </h1>
                        </div>
                        <p class="notInfoTask" id="notInfoTask">
                            @achievement.Description
                        </p>
                    </div>
                    <div class="taskXP">
                        <p>
                            @((int)achievement.UsersCompleteRatio)%
                        </p>
                    </div>
                </div>
            }
        }
        <!---------------------Not completed------------------>
</main>
    <!-----------------------------------main----------------------------------------->
}

@code
{
    [Parameter]
    public string UserIdParam { get; set; }

    public int AchievementsCount => _user.Achivements.Count;
    public int CompletedAchievementsCount => _user.Achivements.Count(a => a.Completed);
    public int CompletedRatio => (int)(((float)CompletedAchievementsCount / (float)AchievementsCount) * 100);
    public int XPSum => _user.Achivements.Where(a => a.Completed).Sum(a => a.Xp);

    private UserPageModel _user;

    protected override void OnInitialized()
    {
        UpdateUser();
    }

    private void UpdateUser()
    {
        int id = int.Parse(UserIdParam);
        _user = _modelBuilder.Build(id);
        StateHasChanged();
    }
}