@page "/user/{useridparam}"
@layout MainLayout
@inject UserPageModelBuilder _modelBuilder

@if (_user != null)
{
    <header>
        <div class="heading-wrapper">
            <div class="exitLink">
                <a href="/topusers"><img src="./image/left-chevron.png" alt=""></a>
            </div>
            <div id="profileSlogan">
                <span>Профиль</span>
            </div>
        </div>
        <div class="userProfile">
            <div class="userImage">
                <img id="userProfileImg" src="@_user.Avatar" alt="">
            </div>
            <div class="userId">
                <h1>
                    <!--First Name-->
                @_user.FirstName
                    <br>
                    <!--Last Name-->
                @_user.LastName
                </h1>
            </div>
        </div>
    </header>
    <!-----------------------------------header----------------------------------------->
    <main>
        <div class="generalInfo">
            <div class="club">
                <!--Locate-->
            <h1 id="locate">Клуб <b id="clubName">@_user.ClubTitle</b>, @_user.ClubAddress</h1>
                <p id="locateSlogan">Место обучения</p>
            </div>
            <hr id="hr">
            <div class="xp">
                <!--XP SUM-->
            <h1 id="XPLevel">@XPSum ХР</h1>
                <p id="XPSlogan">Общее количество опыта</p>
            </div>
            <hr id="hr">
            <div class="task">
                <!--Completed Count-->
            <h1 id="allTasks">Заданий выполнено: @CompletedAchievementsCount из @AchievementsCount</h1>
                <!--Completed Ratio (%)-->
            <p id="tasksSlogan">Выполнено @CompletedRatio%</p>
            </div>
        </div>
        <!---It's generalInfo -->
    <div class="completed" id="completed">
            <h1 id="completedTasks">Выполненые: </h1>
        </div>
        <!------------task completed------------------------->
        @foreach (var achievement in _user.Achivements)
        {
            @if (achievement.Completed)
            {
                <div class="completedTask" id="completedTask">
                    <div class="taskImg">
                        <img id="logoTask" src="@achievement.LogoURL" alt="">
                    </div>
                    <div class="aboutTask">
                        <div class="mark">
                            <h1 id="nameTask">
                                @achievement.Title
                            </h1>
                        </div>
                        <p class="infoTask" id="infoTask">
                            @achievement.Description
                        </p>
                    </div>
                    <div class="taskXP">
                        <h1 id="reward">
                            +@achievement.Xp XP
                        </h1>
                    </div>
                </div>
            }
        }
        <!------------task completed------------------------->

    <div class="notCompleted" id="notCompleted">
            <h1 id="notCompletedTasks">Не выполненые: </h1>
        </div>
        <!---------------------Not completed------------------>
        @foreach (var achievement in _user.Achivements)
        {
            if (!achievement.Completed)
            {
                <div class="notCompletedTask" id="notCompletedTask">
                    <div class="taskImg">
                        <img id="logoTask" src="@achievement.LogoURL" alt="">
                    </div>
                    <div class="aboutTask">
                        <div class="mark">
                            <h1 id="nameTask">
                                @achievement.Title
                            </h1>
                        </div>
                        <p class="notInfoTask">
                            @achievement.Description
                        </p>
                    </div>
                    <div class="taskXP">
                        <h1 id="reward">
                            +@achievement.Xp XP
                        </h1>
                    </div>
                </div>
            }
        }
        <!---------------------Not completed------------------>
</main>
    <!-----------------------------------main----------------------------------------->
}

@code
{
    [Parameter]
    public string UserIdParam { get; set; }

    public int AchievementsCount => _user.Achivements.Count;
    public int CompletedAchievementsCount => _user.Achivements.Count(a => a.Completed);
    public int CompletedRatio => (int)(((float)CompletedAchievementsCount / (float)AchievementsCount) * 100);
    public int XPSum => _user.Achivements.Where(a => a.Completed).Sum(a => a.Xp);

    private UserPageModel _user;

    protected override void OnInitialized()
    {
        UpdateUser();
    }

    private void UpdateUser()
    {
        int id = int.Parse(UserIdParam);
        _user = _modelBuilder.Build(id);
        StateHasChanged();
    }
}