@page "/"
@layout MainLayout

@using Tewr.Blazor.FileReader

@inject UserPageModelBuilder _modelBuilder
@inject CompleteAchieveService _completeAchieveService
@inject UserLoginService _login
@inject NavigationManager _navigation
@inject ImageLoader _imageLoader
@inject AvatarChanger _avatarChanger

@inject IFileReaderService fileReaderService

@if (_model != null)
{
    <header>
        <div class="exitLink">
            <a @onclick="Logout">
                @*<img id="exitImg" src="\image\logout1.ico" alt=""/>*@
                <span style="font-size: 2em; color: white;" id="exitImg">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                </span>
            </a>
        </div>


        <div class="heading-wrapper">
        </div>

        <div class="userProfile">
            <div class="userImage">


                <img id="userProfileImg" src="@_model.Avatar" alt="">
            </div>
            <div class="changePhotoContainer">
                <input @ref=inputTypeFileElement @onchange=@LoadFiles type="file" id="changePhotoInput" class="changePhotoInput" accept="image/jpeg,image/png,image/webp" />
                <label for="changePhotoInput" class="changePhotoText">
                    Изменить аватарку
                </label>
            </div>
            <div class="userId">
                <p>
                    <!--First Name-->
                @_model.FirstName

                    <!--Last Name-->
                @_model.LastName
                    <br>
                    <a id="locate" href="/club/@_model.ClubId">Клуб @_model.ClubTitle.ToUpper()</a>
                </p>
            </div>
        </div>
    </header>
    <!-----------------------------------header----------------------------------------->
    @if (_model.Achivements.Count(a => a.Selected) > 0)
    {
        <button id="acceptList" @onclick=CompleteAchivementsAsync>
            <span>Подтвердить все</span>
        </button>
    }
    <main>
        <div class="generalInfo">
            <!--XP SUM-->
        <div class="xp">
                <h1 id="XPLevel">@_model.XPSum ХР</h1>
                <p id="XPSlogan">Общее количество опыта</p>
            </div>
            <hr id="hr">
            <div class="task">
                <!--Completed Count-->
            <h1 id="allTasks">Заданий выполнено: @_model.CompletedAchievementsCount из @_model.AchievementsCount</h1>
                <!--Completed Ratio (%)-->
            <p id="tasksSlogan">Выполнено @_model.CompletedRatio%</p>
            </div>
        </div>
        <!---It's generalInfo -->
        @if (_model.Achivements.Count(a => a.Completed) > 0)
        {
            <div class="completed" id="completed">
                <h1 id="completedTasks">Выполненные </h1>
            </div>

            <!------------task completed------------------------->
            @foreach (var achievement in _model.Achivements)
            {
                @if (achievement.Completed)
                {
                    <div class="completedTask" id="completedTask">
                        <div class="taskImg">
                            <img id="logoTask" src="@achievement.LogoURL" alt="">
                        </div>
                        <div class="aboutTask">
                            <div class="mark">
                                <h1 id="nameTask">
                                    @achievement.Title | @achievement.Xp XP
                                </h1>
                            </div>
                            <p class="infoTask" id="infoTask">
                                @achievement.Description
                            </p>
                        </div>
                        <div class="taskXP">
                            <span style="color: white;" class="userPerscentIcon">
                                <i class="fa-solid fa-users"></i>
                            </span>
                            @*<img class="userPerscentIcon" src="\image\user_perscent_icon_white.png" alt=""/>*@
                            <p>
                                @((int)achievement.UsersCompleteRatio)%
                            </p>
                        </div>
                    </div>
                }

            }
        }
        <!------------task completed------------------------->
        @if (_model.Achivements.Count(a => a.Completed == false) > 0)
        {
            <div class="notCompleted" id="notCompleted">
                <h1 id="notCompletedTasks">Невыполненные </h1>
            </div>

            <!---------------------Not completed------------------>
            @foreach (var achievement in _model.Achivements)
            {
                if (!achievement.Completed)
                {
                    <div id="notCompletedTask" class=@(achievement.Selected?"notCompletedTaskHighlighted":"notCompletedTask") @onclick=@(()=>SelectAchievement(achievement))>
                        <div class="taskImg">
                            <img id="logoTask" src="@achievement.LogoURL" alt="">
                        </div>
                        <div class="aboutTask">
                            <div class="mark">
                                <h1 id="nameTask">
                                    @achievement.Title | @achievement.Xp XP
                                </h1>
                            </div>
                            <p class="notInfoTask" id="notInfoTask">
                                @achievement.Description
                            </p>
                        </div>
                        <div class="taskXP taskXPNotCompleted">
                            <span style="color: black;" class="userPerscentIcon">
                                <i class="fa-solid fa-users"></i>
                            </span>
                            <p>
                                @((int)achievement.UsersCompleteRatio)%
                            </p>
                        </div>
                    </div>
                }
            }
        }
        <!---------------------Not completed------------------>
</main>
    <!-----------------------------------main----------------------------------------->
}

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }

    private ElementReference inputTypeFileElement;

    private UserPageModel _model;

    protected override void OnAfterRender(bool firstRender)
    {
        //if (firstRender != true)
        //{
        //    if (_login.IsAuthorized == true)
        //    {
        //        int id = _login.CurrentUser.Id;
        //        _model = _modelBuilder.Build(id);
        //        StateHasChanged();
        //    }
        //}
    }

    protected override void OnInitialized()
    {
        if (_login.IsAuthorized == true)
        {
            int id = _login.CurrentUser.Id;
            _model = _modelBuilder.Build(id);
            StateHasChanged();
        }
    }

    private void SelectAchievement(UserPageAchieveItem achivement)
    {
        achivement.Selected = !achivement.Selected;
    }

    private async Task CompleteAchivementsAsync()
    {
        var selectedAchievements = _model.Achivements.Where(a => a.Selected).ToList();
        var parameters = new ModalParameters();
        parameters.Add("UserFullName", _model.FullName);
        parameters.Add("AchieveTitle", selectedAchievements.Select(a => a.Title).Aggregate((a1, a2) => a1 + ", " + a2));
        var modalInstance = Modal.Show<AdminKeyModal>("Передайте устройство тренеру для подтверждения выполнения!", parameters);
        var result = await modalInstance.Result;

        if (!result.Cancelled)
        {
            string adminKey = (string)result.Data;
            var completeAchiveParams = new CompleteAchiveParams()
                {
                    UserId = _model.Id,
                    AchievementsId = selectedAchievements.Select(a => a.Id).ToList(),
                    SupervisorKey = adminKey
                };
            try
            {
                _completeAchieveService.CompleteMultiple(completeAchiveParams);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }

            _model = _modelBuilder.Build(_model.Id);
            StateHasChanged();
        }
    }

    private async Task Logout()
    {
        await _login.Logout();
        _navigation.NavigateTo("/login");
    }

    private async Task LoadFiles()
    {
        try
        {
            var files = await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync();
            var file = files.First();
            string avatarPath = await _imageLoader.CreateImage(file, "avatars");

            if (_avatarChanger.ChangeAvatarById(_model.Id, avatarPath))
            {
                _model.Avatar = avatarPath;
            }
            else
            {
                _model.Avatar = @"https://icon-library.com/images/error-icon-png/error-icon-png-15.jpg";
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}