<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RedirectToLogin>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(DefaultLayout)" />
            </RedirectToLogin>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(DefaultLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>   
        </NotFound>
</Router>

<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />